<!-- COLORES DE ANGULAR MATERIAL

- primary: primaria
- accent: secundaria
- warn: errores

-->

<mat-drawer-container class="example-container" autosize>
  <!-- SIDEBAR -->
  <mat-drawer
    [opened]="!isMobile()"
    #drawer
    class="example-sidenav"
    [mode]="isMobile() ? 'over' : 'side'"
  >
    <mat-list>
      <a mat-list-item>Inicio</a>
      <a mat-list-item>Usuarios</a>
      <a mat-list-item>Clases</a>
    </mat-list>
  </mat-drawer>
  <!-- SIDEBAR -->

  <!-- CONTENIDO A LA DERECHA DEL SIDEBAR -->
  <div class="example-sidenav-content">
    <!-- TOOLBAR SUPERIOR -->
    <mat-toolbar color="primary">
      <button
        (click)="drawer.toggle()"
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>My Application</span>
    </mat-toolbar>

    <main style="padding: 1rem">
      <app-users />
      <!-- <app-pipes-y-directivas /> -->
    </main>

    <!-- TOOLBAR SUPERIOR -->
  </div>
  <!-- CONTENIDO A LA DERECHA DEL SIDEBAR -->
</mat-drawer-container>
